header{
    display:flex;
    justify-content:space-between;
    background:rgb(7,181,104);
    grid-area : header;
}
header img{
    height: 100%;
}
header h4{
    font-size:22px;
    text-align:center;
    line-height: 6px;
    color:white;
}